.ellipsisTag {
  background-color: red;
  color: #fff;
  height: 20px;
  width: 30px;
  margin-left: 10px;
}
.tag {
  margin-left: 10px!important;
  margin-bottom: 10px!important;
  margin-right: 0px!important;
}