.task_box {
  .task_header{
    display: flex;
    padding: 10px 20px;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
  }
  .task_content {
    padding: 10px 20px;
    .task_content_header {
      .ant-tag {
        padding: 0 10px;
        margin-right: 10px;
        border-radius: 0;
        font-size: 14px;
        line-height: 30px;
        cursor: pointer;
      }
    }
    .task_content_table {
      margin-top: 10px;
    }
  }
}
