.ant-picker {
  padding-left: 36px;
  .ant-picker-suffix {
    position: absolute;
    left: 8px;
  }
  .ant-picker-active-bar {
    margin-left: 36px;
  }
  .ant-picker-range-separator {
    padding-right: 40px;
  }
}